h2 {
  /* padding: 2rem; */
  text-align: center;
  font-weight: 900;
  padding: 1rem;
  font-size: 2rem;
  color:white;
  /* letter-spacing: -1px; */

  /* font-family: ; */
  /* font-family: "Roboto", sans-serif; */

}

.wh-heading {
  padding-bottom: 0;
  /* background-color: antiquewhite; */
}

.other-projects-wrapper {
  display: grid;
  grid-template-rows: auto 1fr 0fr auto 0fr auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  overflow: hidden;
}

.wh-heading {
  grid-area: 1/1/2/2;
  /* background-color: black; */
}

.wim {
  grid-area: 2/1/3/2;
  /* background-color: aqua; */
  /* display: none!important; */
}

.jpmazon {
  grid-area: 4/1/5/2;
  /* background-color: blue; */
  /* display: none; */
}

.js-questions {
  grid-area: 6/1/7/2;
  /* background-color: orange; */
  /* display: none; */
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }


}


@media (min-width: 800px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1000px) {
  .other-projects-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 0fr auto;
  }

  .wim-hr {
    grid-area: 3/1/3/3;
    /* color:red; */

  }

  .wh-heading {
    grid-area: 1/1/2/3;
  }

  h2 {
    font-size: 3.2rem;
  }

  .wim {
    grid-area: 2/1/3/4;
    /* background-color: aqua; */
    /* display: none!important; */
  }

  .jpmazon {
    grid-area: 4/1/5/2;
    /* background-color: blue; */
    /* display: none; */
  }

  .js-questions {
    grid-area: 4/2/5/4;
    /* background-color: orange; */
    /* display: none; */
  }
}

@media (min-width: 1200px) {
    h2 {
      font-size:3.3rem;
    }
}

