.other-projects-wrapper {
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem; */
}

.wim {
  /* grid-area: 1/1/2/3; */
  background-color: aqua;
}

.jpmazon {
  /* grid-area: 1/1/2/3; */
  background-color: blue;
}

.jsquestions {
  /* grid-area: 2/2/3/4; */
  background-color: orange;
}

.other-projects-container {
}



.project-img-wrapper {
  background-color: aqua;
  height: 70vw;
}

.wim {
  margin: 1rem;
}

.op-description {
  background-color: bisque;
  height: 70vw;
}

@media (min-width: 600px) {
}

@media (min-width: 1000px) {
  .other-projects-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background-color: bisque;
  }

  .wim {
    grid-area: 1/1/2/4;
    background-color: aqua;
  }

  .jpmazon {
    grid-area: 2/1/3/2;
    background-color: blue;
  }

  .jsquestions {
    grid-area: 2/2/3/4;
    background-color: orange;
  }
}
