.wim .op-description {
  background-color: blanchedalmond;
  padding-bottom: 1rem;
  /* height: 50%; */
}

.wim .img-btn-container {
  display:flex;
  position:relative;
}

.wim img:nth-of-type(1) {
  width: 50%;
  padding-right: 1rem;
}
.wim img:nth-of-type(2) {
  width:50%;
  /* position: absolute;
  top:20%;
  right:0%; */
}

.wim .img-btn-container {
  padding:0;
  padding-top: 1rem;

}


/***************************** quote css**************** */

.quote-box {
  overflow: hidden;
  border-radius: 17px;
  background-color: var(--clr-backGround2);
  color: var(--clr-text);
  /* box-shadow: 2px 2px 2px 2px #e0e0e0; */
  /* width:50% */
  font-size: 1rem;
}

.quotation-mark {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}

.additional-text {
  width: 50%;
  display: inline-block;
  padding: 0.5rem;
  /* margin-top: 3rem; */
}

.quote-box {
  padding: 0.5rem;
}

.quote-wrapper {
  display: inline-block;
  width: 50%;
}

.quote-text {
  font-size: 1rem;
  margin-top: -4rem;
  margin-left: 2.5rem;
}

.peter-name {
  padding-top: 0.5rem;
  text-align: end;
}

/********************************************* */
