.wim {
  margin: 0 0.5rem 2rem 0.5rem;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
  position: relative;

  /* padding:1rem; */
  /* grid-gap: 0.5rem;  */
  /* background: radial-gradient(circle, var(--clr-seaBlue) 10%, hsl(210, 100%, 40%) 93%); */
}

.wim-inner-img-wrapper {
  position: relative;
}

.wim .wim-links {
  margin: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  width: 7rem;
  /* background-color: yellow; */
  /* align-items: flex-end; */
  justify-content: space-around;
}

.wim .op-link-icon {
  color: white;
  /* font-size:1.5rem; */
  /* margin-right:1rem; */
  margin-bottom: 1rem;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-seaBlue);
  z-index: 0;

  clip-path: polygon(0% 0, 90% 0, 90% 100%, 0% 100%);
  clip-path: polygon(5% 0, 95% 0, 95% 100%, 5% 100%);
  clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
}

.quote-wrapper {
  /* display: none; */

  grid-area: 1/1/6/8;
  /* grid-area: 3/7/4/13; */

  /* margin: 1rem 0; */
  z-index: 2;
  /* display: none; */
}

.text {
  /* display: none; */

  grid-area: 6/1/11/9;
  /* background-color: aqua; */
  z-index: 0;
  background-color: var(--clr-backGround2);
  padding: 1rem;
  color: var(--clr-text);
  position: relative;
  /* margin-right: 0.5rem; */
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px var(--clr-one);
  height: fit-content;
  border: 1px solid white;
}

.wim-image-wrapper {
  /* grid-area: 2/6/3/13; */
  display: flex;
  /* display: none; */
  position: relative;
  grid-area: 8/7/11/13;

  padding: 0;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  /* margin-top: 1rem; */
  z-index: 2;
}

.wim-image {
  border: 2px solid black;
  box-shadow: 5px 5px 10px var(--clr-one);
}

.stock-img-wrapper {
  position: relative;
  grid-area: 2/2/11/13;
  z-index: 0;
  /* overflow: hidden; */
}

.stock-img {
  min-height: 100%;
  /* position:absolute; */
  object-fit: cover;
}

.text-inner-3 {
  display: none;
}

.text-inner-2 {
  display: none;
}

.text-inner-1 {
  margin-top: 1rem;
  display: inline-block;
  max-width: 9rem;
}

.quote-box {
  border: 1px solid white;
}

/***************************** quote**************** */

.quote-box {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--clr-backGround2);
  color: var(--clr-text);
  /* box-shadow: 2px 2px 2px 2px #e0e0e0; */
  box-shadow: 5px 5px 10px var(--clr-one);
  padding: 0.5rem;
  /* width:50% */
  font-size: 1rem;
}

.quotation-mark {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 4em;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
  font-size: 1em;
  margin-top: -4rem;
  margin-left: 2.5rem;
}

.peter-name {
  padding-top: 0.5em;
  text-align: end;
}

/********************************************* */

@media (min-width: 355px) {
  .text-inner-1 {
    max-width: 10rem;
  }
}

@media (min-width: 390px) {
  .text {
    margin-right: 0.5rem;
  }
}

@media (min-width: 425px) {
  .stock-img-wrapper {
    display: block;
    position: relative;
    grid-area: 1/1/11/13;
    z-index: 0;
    /* background-color: blue; */
  }

  .text-inner-1 {
    display: block;
    max-width: none;
  }

  .wim-links-wrapper {
    /* margin-top: 1rem; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .stock-img {
    object-fit: cover;
  }

  .text {
    grid-area: 5/1/9/7;
    z-index: 0;
    background-color: var(--clr-backGround2);
    color: var(--clr-text);
    padding: 1rem;
    position: relative;
    margin-right: 1rem;
    z-index: 1;
    border-radius: 1rem;
  }

  .quote-wrapper {
    grid-area: 1/1/5/8;
    margin: 1rem 0;
    z-index: 1;
  }

  .wim-image-wrapper {
    grid-area: 6/7/11/13;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

@media (min-width: 550px) {
  .wim {
    /* margin-top:3rem; */
    margin-bottom: 3rem;
  }

  .quote-box {
    font-size: 1.2rem;
  }
  .wim-image-wrapper {
    align-items: flex-start;
  }
  .text {
    grid-area: 6/1/11/7;
  }

  .wim .op-link-icon {
    margin: 0;
  }
}

@media (min-width: 700px) {
  .wim {
    margin: 1rem;
    margin-top: 0;
    margin: 0 1rem 3rem 1rem;
  }

  .quote-box {
    font-size: 1.3rem;
    max-width: fit-content;
  }

  .text {
    grid-area: 5/1/11/7;
  }

  .text-inner-3 {
    display: block;
    margin-top: 1rem;
  }

  .text-inner-2 {
    display: block;
    margin-top: 1rem;
  }

  .text-inner-1 {
    display: none;
  }

  .wim-image-wrapper {
    /* background-color: brown; */
    margin-bottom: 1rem;
  }

  .wim-image {
    border: 7px solid black;
    outline: 2px solid var(--clr-four);
  }
}

@media (min-width: 1100px) {
  .quote-wrapper {
    grid-area: 1/1/5/8;
    margin: 2rem;
  }

  .quote-box {
    font-size: 1.5rem;
  }
  .text {
    grid-area: 5/1/11/7;
    margin: 2rem;
  }

  .wim-image-wrapper {
    grid-area: 5/7/11/13;
    /* background-color: brown; */
    margin-bottom: 1rem;
  }

  .stock-img-wrapper {
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 1200px) {
  .text {
    grid-area: 5/2/11/7;
    margin: 0rem;
  }
}
