.wim {
  background-color: var(--clr-seaBlue);
  background: radial-gradient(circle, var(--clr-seaBlue) 10%, hsl(210, 100%, 40%) 93%);
}

.wim img:nth-of-type(1) {
  /* width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 5px 5px 10px var(--clr-one);
  display: inline-block; */
}

.wim .btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 4em;
}

.wim .learn-button-wrapper {
  /* background-color: aliceblue; */
  padding: 0;
  margin-bottom: 1rem;
  /* padding-bottom: 1rem; */
}

.additional-text {
  width: 90%;
  margin: 0 auto;
}

.wim .link-btn {
  border: 0;
  background: none;
  color: aliceblue;
  font-size: 1.5rem;
  margin-right: 1rem;

  /* padding: 0.5rem; */
}

.wim .learn-button {
  margin-right: 1rem;
}

.additional-text {
  display: inline-flex;
  vertical-align:top;
  width: 30%;
  /* height: 100%; */
  
  /* background-color: blue; */
  align-items: center;
  padding: .3rem;
  justify-content: center;
}

.wim .img-btn-container {
  display: inline-block;
  width: 70%;
  padding: 0;
  /* margin:0; */
  /* width:calc(100% - 2rem) */
  /* width:70%; */
  /* background-color: bisque; */
  padding: .3rem;

}

/***************************** quote css**************** */
.quote-wrapper {
  width: 75%;
  margin: 1rem auto;
}

.quote-box {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--clr-backGround2);
  color: var(--clr-text);
  /* box-shadow: 2px 2px 2px 2px #e0e0e0; */
  box-shadow: 5px 5px 10px var(--clr-one);

  padding: 0.5rem;
  /* width:50% */
  font-size: 1rem;
}

.quotation-mark {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
  font-size: 1rem;
  margin-top: -4rem;
  margin-left: 2.5rem;
}

.peter-name {
  padding-top: 0.5rem;
  text-align: end;
}

/********************************************* */

@media (min-width: 430px) {
  .quote-wrapper {
    width: 75%;
    margin: 1rem 0 1rem 1rem;
    /* background-color: aliceblue; */
  }

  .wim img:nth-of-type(1) {
    /* width: 75%; */
    /* margin: 0 auto; */

    margin: 1rem 1rem 1rem auto;

    /* padding-right: 1rem; */
    border: 2px solid black;
    /* max-width: 300px; */
    box-shadow: 5px 5px 10px var(--clr-one);
  }
}

@media (min-width: 700px) {
  .wim img:nth-of-type(1) {
    /* width: 75%; */
    /* padding-right: 1rem; */
    border: 2px solid black;
    /* margin: 0 auto; */
    max-width: 450px;
  }
}

@media (min-width: 1000px) {
  .wim img:nth-of-type(1) {
  }
}
