.hero-wrapper {
  font-size: 4rem;
  overflow: hidden;
}

.sailing {
  font-size: 3rem;
  grid-area: 18/13/19/18;

}

.hero {
  max-width: calc(var(--max-width) + 300px);
  margin: 0 auto;
  height: 70vh;
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.name {
  grid-area: 3/2/13/9;
}

.name h1 {
  font-weight: 600;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  position: relative;
}

.name p {
  font-size: 0.3em;
}

.blurb-wrapper {
  grid-area: 3/2/13/9;
  overflow: hidden;
  font-size: 0.25em;
  position: relative;
}

.blurb-wrapper div {
  z-index: 2;
}

.sailboat-wrapper {
  background-color: var(--clr-seaBlue);
  z-index: 2;
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .hero-wrapper {
    font-size: 5rem;
  }
}

@media (min-width: 1000px) {
  .hero-wrapper {
    font-size: 7rem;
  }
}

@media (min-width: 1300px) {
  .hero-wrapper {
    font-size: 9rem;
  }
}

.projects-arrow {
  font-size: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: var(--clr-text);
}

.projects-arrow span {
  display: flex;
}

.projects-arrow span * {
  padding-left: 10px;
}

.sailboat {
  position: absolute;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  top: -97px;
  left: calc(50vw - 100px);
  animation: sailAnimation 2s ease-in-out infinite;
  z-index: 1;
}

@keyframes sailAnimation {
  0%,
  100% {
    transform: rotate(0) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
}

.decorative {
  position: absolute;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  background-color: var(--clr-seaBlue);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
