.kitchen-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-one);
  /* border-radius: 20px; */
  padding: 2px;
  box-shadow: 5px 5px 10px var(--clr-one);
  align-self: center;
}

.kitchen-display-container img {
  aspect-ratio: 1280 / 732;
}

.kitchen-display-container::after {
  content: "Kitchen display";
  position: absolute;
  font-size: 0.7rem;
  padding: 0.2em 0.7em;
  top: -1em;
  left: 2em;
  background-color: var(--clr-backGroundWSmoke);
  font-weight: 700;
  border: 2px solid var(--clr-border);
}

@media (min-width: 700px) {
  .kitchen-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-one);
    padding: 1rem;
    border: 2px solid var(--clr-four);
    box-shadow: 5px 5px 10px var(--clr-one);
    z-index: 2;
  }

  .kitchen-display-container::after {
    font-size: 0.8rem;
    border: 2px solid var(--clr-four);
  }
}

@media (min-width: 920px) {
  .kitchen-display-container img {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .kitchen-display-container {
    height: 100%;
  }

  .kitchen-display-container img {
    aspect-ratio: auto;
  }
}

/* overlay font size for hover on image */

@media (min-width: 700px) {
  .kitchen-display-container .overlay {
    font-size: 0.8rem;
  }
}

@media (min-width: 900px) {
  .kitchen-display-container .overlay {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .kitchen-display-container .overlay {
    font-size: 0.8rem;
  }
}

@media (min-width: 1440px) {
  .kitchen-display-container .overlay {
    font-size: 1rem;
  }
}
