.kitchen-man {
  /* margin-bottom: 2rem; */
  overflow: hidden;
  /* padding:.2rem; */

  /* margin: 0.5rem;
  margin-top: 0;
  margin-bottom:2rem; */
  margin: 0 0.5rem 2rem 0.5rem;
}

.lrg-question {
  display: none;
}

.waiter-img {
  width: 90%;
  /* margin: 0 auto; */
}

.waiter-img-wrapper {
  /* width: 100%; */
  /* position: relative; */
  background-color: var(--clr-backGround2);
}

.img-text-container {
  background-color: hsl(22, 15%, 90%);
}

.sml-question {
  /* display: none; */
  position: absolute;
  right: 1rem;
  width: 150px;
  /* top:10%; */
  background-color: var(--clr-backGround2);
  border-radius: 10px;
  color: var(--clr-text);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.inner-text {
  background-color: var(--clr-backGround2);
  color: var(--clr-text);
  padding: 1rem;
  width: 90%;
  /* background-color: aqua; */
}

.learn-button-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  padding-top: 1rem;
}

.learn-button {
  padding: 0.1em 0.6em;
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid var(--clr-backGround2);
  /* margin:1rem; */
}

.learn-button:hover {
  background-color: var(--clr-backGround2);
  color: var(--clr-text);
  border: 1px solid white;
}

.pos-description-container {
  margin-bottom: 1rem;
}

.pos-description-container .link-btn {
  color: white;
  font-size: 1em;
  border: 0;
  background: none;
  margin-right: 1em;
}

.learn-button-wrapper .link {
  font-size: 1.3rem;
  margin-right:1rem;
  padding:.3em;

}

@media (min-width: 450px) {
  .sml-question {
    font-size: 1.1rem;
    padding: 0.8rem;
    margin-top: 1rem;
  }
}

@media (min-width: 520px) {
  .sml-question {
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 240px;
  }
}

@media (min-width: 550px) {
  .kitchen-man {
    /* margin-bottom: 3rem; */
    /* padding-top: 3rem; */
  }
  .inner-text {
    font-size:1.2rem;
  }
}

@media (min-width: 600px) {
  .sml-question {
    font-size: 1.4rem;
    margin-top: 2rem;
    width: 260px;
  }
}

@media (min-width: 700px) {
  .kitchen-man {
    /* margin:1rem; */
    /* margin: 1rem; */
    /* margin-top: 0; */
    margin: 0 1rem 3rem 1rem;
  }

  .kitchen-man .description {
    /* opacity: 1; */
  }

  .learn-button-wrapper .link {
    font-size: 1.3rem;
    /* margin-right:1rem; */
  }

  .description {
    box-shadow: 5px 5px 10px var(--clr-one);
  }

  .sml-question {
    font-size: 1.5rem;
    margin-right: 10%;
  }

  .inner-text {
    font-size:1.3rem;
  }
}

@media (min-width: 1000px) {
 
  .learn-button-wrapper {
    align-items: center;
    padding:0;
  }
 
  .learn-button-wrapper .learn-button {
    white-space: nowrap
  }

  .waiter-img {
    width: 100%;
  }
  .lrg-question {
    display: block;
  }

  .sml-question {
    display: none;
  }

  .inner-text > p {
    padding: 1rem;
  }

  .inner-text {
    /* position: relative; */
    color: var(--clr-text);
    width: calc(80% + 102.56px);
    transform: translate(-102.56px);
    /* background-color: red; */
    background-color: var(--clr-backGround2);
    border-radius: 10px;
    border: 1px solid hsl(22, 15%, 90%);
    margin-top: 4rem;
  }

  .inner-text p:nth-child(3) {
    text-align: end;
    padding-right: 2rem;
  }

  .pos-description-container {
    position: relative;
    z-index: 2;
    /* so pos image sits behind */
    /* padding: 1rem 0; */
  }

  .description {
    background-color: orangered;

    display: flex;

    /* box-shadow: -5px 5px 5px var(--clr-one); */
    box-shadow: 5px 5px 10px var(--clr-one);
  }

  .waiter-img-wrapper {
    width: 70%;
  }

  .img-text-container {
    /* background-color: hsl(22, 15%, 90%); */

    position: relative;
    background-color: var(--clr-backGround2);
    color: var(--clr-text);
    width: 30%;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .lrg-question {
    position: absolute;
    top: 2rem;
    left: -285px;
    font-size: 2.2rem;
    font-weight: 900;
    /* background-color: var(--clr-backGroundWSmoke); */
    padding: calc(0.1rem - 2px);
    border: 1px solid var(--clr-backGround2);
    padding-left: 1rem;
    border-radius: 10px 0 0 10px;
    color: var(--clr-backGround2);
  }

  .img-text-container p span {
    /* color: var(--clr-text); */
    display: inline-block;
    background-color: hsl(22, 15%, 90%);
    border-radius: 0 10px 10px 0;

    padding-right: 1rem;
  }
}
@media (min-width: 1100px) {

.inner-text {
  font-size:1.4rem;
}
}

@media (min-width: 1200px) {
  .inner-text > p {
    padding: 0.5rem;
  }

  .inner-text {
    font-size:1rem;
  }


}

@media (min-width: 1400px) {
  .inner-text > p {
    padding: 1rem;
  }

  .inner-text {
    font-size:1.2rem;
  }
}

@media (min-width: 1450px) {


  .inner-text {
    font-size:1.4rem;
  }
}