.img-btn-wrapper {
  position: relative;
  font-size: 0.3rem;
}

.links-wrapper {
  position: absolute;
  /* top: 50%; */
  bottom: 2em;
  left: 2em;
  /* width: 10em; */
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  border-radius: 1rem;
  border: 2px solid black;
}

.img-container {
  display: inline-block;
  /* background-color: aqua; */
  position: relative;
}

.link {
  font-size: 2em;
  border: 0.15em solid var(--clr-backGroundWSmoke);
  background: 0;
  color: var(--clr-backGroundWSmoke);
  transition: transform 0.2s ease;
  background-color: var(--clr-backGround2);
  padding: 0.5em;
  border-radius: 50%;
}

.link:hover {
  animation: scaleAnimation 0.3s ease-in-out; /* Apply the animation on hover */
  transform: scale(1.3); /* Midpoint state is scaled up to 1.2 */
}

@media (min-width: 430px) {
  .img-btn-wrapper {
    position: relative;
    font-size: 0.35rem;
  }
}

@media (min-width: 500px) {
  .img-btn-wrapper {
    position: relative;
    font-size: 0.4rem;
  }
}

@media (min-width: 600px) {
  .img-btn-wrapper {
    position: relative;
    font-size: 0.47rem;
  }
}

@media (min-width: 700px) {
  .img-btn-wrapper {
    position: relative;
    font-size: 0.5rem;
  }
}

@media (min-width: 800px) {
  .img-btn-wrapper {
    position: relative;
    font-size: 0.55rem;
  }
}
